In [1]:
n1 = 255
n2 = 1000

In [2]:
n1 = str(hex(n1))
print(n1)

n2 = str(hex(n2))
print(n2)

0xff
0x3e8

## 解一元二次方程

In [11]:
import math

In [13]:
def quadratic(a, b, c):
    if a != 0:
        return (-b+math.sqrt((b**2)-(4*a*c)))/(2*a),(-b-math.sqrt((b**2)-(4*a*c)))/(2*a)
    else:
        return -c/b

In [20]:
answer = quadratic(1, 3, -4)

In [21]:
print(answer)

(1.0, -4.0)

In [28]:
def add_end(L=None):
    if L == None:
        L = []
    L.append('END')
    return L

## 可变参数与关键字参数
*args  *kw

In [43]:
def mul(*args):
    res = 1
    for num in args:
        res = res * num
    return res

In [44]:
mul(5)

5

In [45]:
mul(5,6)

30

In [46]:
mul(5,6,7)

210

In [47]:
mul(5,6,7,9)

1890

In [49]:
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)

In [50]:
fact(10)

3628800

## 索引、切片

In [2]:
L = ['Jack', 'M', 'K']
L1 = L[:3]
L1

['Jack', 'M', 'K']

In [3]:
# 倒数切片
L2 = L[-2:]
L2

['M', 'K']

## 去除字符串前后可能存在的空格

In [21]:
def trim(string):
    if(string == ''):
        return ''
    if(string[0] == ' '):
        return trim(string[1:])
    elif(string[-1] == ' '):
        return trim(string[:-2])
    else:
        return string

In [23]:
if trim('hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello') != 'hello':
    print('测试失败!')
elif trim('  hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello  world  ') != 'hello  world':
    print('测试失败!')
elif trim('') != '':
    print('测试失败!')
elif trim('    ') != '':
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

# 列表生成式

In [2]:
mylist = [x * x for x in range(1,11)]
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
mylist = [x * x for x in range(1,11) if x % 2 == 0]
mylist

[4, 16, 36, 64, 100]

In [9]:
exchange = [0,1,0,0,1,0,1,1]
date = ['2010','2011','2012','2013','2014','2015','2016','2017']
buy = [i+str(j) for i in date for j in exchange ]
buy

['20100',
 '20101',
 '20100',
 '20100',
 '20101',
 '20100',
 '20101',
 '20101',
 '20110',
 '20111',
 '20110',
 '20110',
 '20111',
 '20110',
 '20111',
 '20111',
 '20120',
 '20121',
 '20120',
 '20120',
 '20121',
 '20120',
 '20121',
 '20121',
 '20130',
 '20131',
 '20130',
 '20130',
 '20131',
 '20130',
 '20131',
 '20131',
 '20140',
 '20141',
 '20140',
 '20140',
 '20141',
 '20140',
 '20141',
 '20141',
 '20150',
 '20151',
 '20150',
 '20150',
 '20151',
 '20150',
 '20151',
 '20151',
 '20160',
 '20161',
 '20160',
 '20160',
 '20161',
 '20160',
 '20161',
 '20161',
 '20170',
 '20171',
 '20170',
 '20170',
 '20171',
 '20170',
 '20171',
 '20171']

In [11]:
L1 = ['Hello', 'World', 18, 'Apple', None]
L2 = [s.lower() for s in L1 if isinstance(s, str)]

['hello', 'world', 'apple']

In [12]:
print(L2)
if L2 == ['hello', 'world', 'apple']:
    print('测试通过!')
else:
    print('测试失败!')

['hello', 'world', 'apple']
测试通过!

# generator 生成器 
.next()
for 遍历

In [3]:
def triangles():
    L = [1]
    yield L
    while True:
        L = [1 if i == 0 else L[i-1]+L[i] for i in range(len(L))]
        L.append(1)
        yield L

In [5]:
def generate(numRows):
    row = 0
    L = [1]
    res = []
    res.append(L)
    while row < numRows:
        L = [1 if i == 0 else L[i-1] + L[i] for i in range(len(L))]
        L.append(1)
        res.append(L)
        row += 1
    return res

In [6]:
x = generate(5)
x

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

In [63]:
g = triangles()
n = 0
for i in g:
    if n > 5:
        break
    n += 1
    print(i)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [4]:
n = 0
results = []
for t in triangles():
    results.append(t)
    n = n + 1
    if n == 10:
        break

for t in results:
    print(t)

if results == [
    [1],
    [1, 1],
    [1, 2, 1],
    [1, 3, 3, 1],
    [1, 4, 6, 4, 1],
    [1, 5, 10, 10, 5, 1],
    [1, 6, 15, 20, 15, 6, 1],
    [1, 7, 21, 35, 35, 21, 7, 1],
    [1, 8, 28, 56, 70, 56, 28, 8, 1],
    [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
]:
    print('测试通过!')
else:
    print('测试失败!')

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
测试通过!

## 函数式编程

In [1]:
def add(x, y, f):
    return f(x) + f(y)

In [2]:
add(10, -10, abs)

20

## map reduce

In [3]:
def normalize(name):
    if name == '':
        return
    name = name.lower()
    Cap = name[0].upper()
    return Cap + name[1:]

In [4]:
# 测试:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [7]:
from functools import reduce

In [8]:
def prod(L):
    def mul(x, y):
        return x * y
    return reduce(mul, L)

In [9]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

3 * 5 * 7 * 9 = 945
测试成功!

In [10]:
def char2num(s):
    return int(s)

In [30]:
def str2float(s):
    index = s.index('.')
    # s 分成两部分, 第一部分变换整数，*10 返回
    x1 = reduce(add1, map(char2num, s[:index]))
    x2 = reduce(add1, map(char2num, s[index+1:]))
    n = len(s) - index - 1
    x2 = x2 * 10** -n
    return x1 + x2
    
def add1(x, y):
    return x * 10 + y
def char2num(s):
    return int(s)

In [32]:
print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!