In [1]:
n1 = 255
n2 = 1000

In [2]:
n1 = str(hex(n1))
print(n1)

n2 = str(hex(n2))
print(n2)

0xff
0x3e8

## 解一元二次方程

In [11]:
import math

In [13]:
def quadratic(a, b, c):
    if a != 0:
        return (-b+math.sqrt((b**2)-(4*a*c)))/(2*a),(-b-math.sqrt((b**2)-(4*a*c)))/(2*a)
    else:
        return -c/b

In [20]:
answer = quadratic(1, 3, -4)

In [21]:
print(answer)

(1.0, -4.0)

In [28]:
def add_end(L=None):
    if L == None:
        L = []
    L.append('END')
    return L

## 可变参数与关键字参数
*args  *kw

In [43]:
def mul(*args):
    res = 1
    for num in args:
        res = res * num
    return res

In [44]:
mul(5)

5

In [45]:
mul(5,6)

30

In [46]:
mul(5,6,7)

210

In [47]:
mul(5,6,7,9)

1890

In [49]:
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)

In [50]:
fact(10)

3628800

## 索引、切片

In [2]:
L = ['Jack', 'M', 'K']
L1 = L[:3]
L1

['Jack', 'M', 'K']

In [3]:
# 倒数切片
L2 = L[-2:]
L2

['M', 'K']

## 去除字符串前后可能存在的空格

In [21]:
def trim(string):
    if(string == ''):
        return ''
    if(string[0] == ' '):
        return trim(string[1:])
    elif(string[-1] == ' '):
        return trim(string[:-2])
    else:
        return string

In [23]:
if trim('hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello') != 'hello':
    print('测试失败!')
elif trim('  hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello  world  ') != 'hello  world':
    print('测试失败!')
elif trim('') != '':
    print('测试失败!')
elif trim('    ') != '':
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

# 列表生成式

In [2]:
mylist = [x * x for x in range(1,11)]
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
mylist = [x * x for x in range(1,11) if x % 2 == 0]
mylist

[4, 16, 36, 64, 100]

In [9]:
exchange = [0,1,0,0,1,0,1,1]
date = ['2010','2011','2012','2013','2014','2015','2016','2017']
buy = [i+str(j) for i in date for j in exchange ]
buy

['20100',
 '20101',
 '20100',
 '20100',
 '20101',
 '20100',
 '20101',
 '20101',
 '20110',
 '20111',
 '20110',
 '20110',
 '20111',
 '20110',
 '20111',
 '20111',
 '20120',
 '20121',
 '20120',
 '20120',
 '20121',
 '20120',
 '20121',
 '20121',
 '20130',
 '20131',
 '20130',
 '20130',
 '20131',
 '20130',
 '20131',
 '20131',
 '20140',
 '20141',
 '20140',
 '20140',
 '20141',
 '20140',
 '20141',
 '20141',
 '20150',
 '20151',
 '20150',
 '20150',
 '20151',
 '20150',
 '20151',
 '20151',
 '20160',
 '20161',
 '20160',
 '20160',
 '20161',
 '20160',
 '20161',
 '20161',
 '20170',
 '20171',
 '20170',
 '20170',
 '20171',
 '20170',
 '20171',
 '20171']

In [11]:
L1 = ['Hello', 'World', 18, 'Apple', None]
L2 = [s.lower() for s in L1 if isinstance(s, str)]

['hello', 'world', 'apple']

In [12]:
print(L2)
if L2 == ['hello', 'world', 'apple']:
    print('测试通过!')
else:
    print('测试失败!')

['hello', 'world', 'apple']
测试通过!

# generator 生成器 
.next()
for 遍历

In [3]:
def triangles():
    L = [1]
    yield L
    while True:
        L = [1 if i == 0 else L[i-1]+L[i] for i in range(len(L))]
        L.append(1)
        yield L

In [5]:
def generate(numRows):
    row = 0
    L = [1]
    res = []
    res.append(L)
    while row < numRows:
        L = [1 if i == 0 else L[i-1] + L[i] for i in range(len(L))]
        L.append(1)
        res.append(L)
        row += 1
    return res

In [6]:
x = generate(5)
x

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

In [63]:
g = triangles()
n = 0
for i in g:
    if n > 5:
        break
    n += 1
    print(i)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [4]:
n = 0
results = []
for t in triangles():
    results.append(t)
    n = n + 1
    if n == 10:
        break

for t in results:
    print(t)

if results == [
    [1],
    [1, 1],
    [1, 2, 1],
    [1, 3, 3, 1],
    [1, 4, 6, 4, 1],
    [1, 5, 10, 10, 5, 1],
    [1, 6, 15, 20, 15, 6, 1],
    [1, 7, 21, 35, 35, 21, 7, 1],
    [1, 8, 28, 56, 70, 56, 28, 8, 1],
    [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
]:
    print('测试通过!')
else:
    print('测试失败!')

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
测试通过!

## 函数式编程

In [1]:
def add(x, y, f):
    return f(x) + f(y)

In [2]:
add(10, -10, abs)

20

## map reduce

In [3]:
def normalize(name):
    if name == '':
        return
    name = name.lower()
    Cap = name[0].upper()
    return Cap + name[1:]

In [4]:
# 测试:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [7]:
from functools import reduce

In [8]:
def prod(L):
    def mul(x, y):
        return x * y
    return reduce(mul, L)

In [9]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

3 * 5 * 7 * 9 = 945
测试成功!

In [10]:
def char2num(s):
    return int(s)

In [30]:
def str2float(s):
    index = s.index('.')
    # s 分成两部分, 第一部分变换整数，*10 返回
    x1 = reduce(add1, map(char2num, s[:index]))
    x2 = reduce(add1, map(char2num, s[index+1:]))
    n = len(s) - index - 1
    x2 = x2 * 10** -n
    return x1 + x2
    
def add1(x, y):
    return x * 10 + y
def char2num(s):
    return int(s)

In [32]:
print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

## 高级函数2 filter

In [1]:
def is_odd(n):
    return n % 2 == 1
list(filter(is_odd, [1,2,3,4,5,6,7]))

[1, 3, 5, 7]

In [2]:
def _odd_iter():
    n = 1
    while True:
        n = n + 2
        yield n

In [3]:
def _not_divisible(n):
    return lambda x:x % n > 0

In [8]:
def primes():
    yield 2
    # 从第三个开始，2和2的倍数都被去掉了
    it = _odd_iter()
    while True:
        # 拿到it之后，把序列中的第一个数给n
        n = next(it)
        yield n
        # 使用filter _not_divisible(n)将无法被n除尽的数组成的新序列返回给it
        it = filter(_not_divisible(n), it)

In [7]:
for n in primes():
    if n < 1000:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [16]:
def is_palindrome(n):
    s = str(n)
    left = 0
    right = len(s)-1
    while left < right:
        if s[left] != s[right]:
            return False
        left += 1
        right -= 1
    return True

In [17]:
# 测试:
output = filter(is_palindrome, range(1, 1000))
print('1~1000:', list(output))
if list(filter(is_palindrome, range(1, 200))) == [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]:
    print('测试成功!')
else:
    print('测试失败!')

1~1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]
测试成功!

## 高阶函数 sorted

In [18]:
def by_name(t):
    return t[0]

In [19]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]
L_sorted_by_name = sorted(L, key=by_name)
L_sorted_by_name

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]

In [20]:
def by_score(t):
    return t[1]

In [21]:
L_sorted_by_score_decending = sorted(L, key=by_score, reverse=True)
L_sorted_by_score_decending

[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]

## 闭包：目前看来是函数里包含一个函数，这个内部函数可以使用大函数的参数和局部变量

# 一点理解：第一次用f = inc()时，f就是fn()下面的这一部分，它执行也只是执行下面这一部分

In [23]:
def inc():
    x = 0
    def fn():
        # nonlocal x
        x = x + 1
        return x
    return fn

f = inc()
print(f()) # 1
print(f()) # 2

1
2

In [26]:
def createCounter():
    x = 0
    def counter():
        nonlocal x
        x = x + 1
        return x
    return counter

In [27]:
# 测试:
counterA = createCounter()
print(counterA(), counterA(), counterA(), counterA(), counterA()) # 1 2 3 4 5
counterB = createCounter()
if [counterB(), counterB(), counterB(), counterB()] == [1, 2, 3, 4]:
    print('测试通过!')
else:
    print('测试失败!')

1 2 3 4 5
测试通过!

## 匿名函数 lambda

In [29]:
f = lambda x : x % 2 == 1

In [33]:
f(2)

False

In [34]:
L = list(filter(lambda x: x % 2 == 1, range(1, 20)))
L

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]